.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.btn-primary {
  background-color: #FF9A00;
  border-color: #FF9A00;
  color: #fff;
}

.btn-primary:hover {
  background-color: #e68900;
  border-color: #e68900;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #cc7a00;
  border-color: #cc7a00;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 5rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 28rem;
}