/* VARIABLES */
:root {
    --primary-color: #FF9A00;
    --secundary-color: #0066FF;
    --hover-color: #CC7A00;
}

/* MODE DARK AND BRIGHT*/
/**************************************************/

.theme-btn {
    background-color: black;
    color: white;
    border: none;
    transition: 0.2s ease-in-out;
}

.theme-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 12px rgba(216, 127, 29, 0.8);
}

/***************************************************/
/* COLORES PRIMARIOS/SECUNDARIOS PARA BOTONES Y BACKGROUND
/***************************************************/
.bg-primary-color {
    background-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: black;
}

.btn:hover {
    background-color: var(--hover-color);
    border-color: black;
}

/* NAV */
/*****************************************************/

.nav-link:hover {
    color: white;
}

/* DIVISOR */
.divider {
    width: 100%;
    height: 3rem;
}

/* CAROUSEL */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    border-radius: 8px; 
    color: #fff; 
}

#landingCarousel .carousel-img {
    height: 70vh;
    object-fit: cover;
}

/* FOOTER */
footer svg:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.5);
}

